body{
    background-color: gainsboro;
    border: 7px solid black;
    padding: 20px;
}

h1{
    font-family: Segoe UI;
    text-align: center;
    size: 50%;
    border: 5px solid gray;
    background-color: gray;
    padding: 10px;
}

h2{
    font-family: Segoe UI;
}

p{
    font-family: Cambria;
    
}


